/* 最外层div */
#ListHeader {
  padding: 10px;
  width: 100%;
  height: 112px;
  background-color: white;
  border-bottom: #42b983 1px solid;
  font-size: 16px;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
}

/*BS栅格*/
.col {
  text-align: center;
  margin: auto;
}

#ListHeader /deep/ .input-index:focus {
  border-color: #42b983;
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25);
}

/*清除按钮*/
#ListHeader /deep/ .btn-index {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
}

#ListHeader /deep/ .btn-index:hover {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
}

#ListHeader /deep/ .btn-index:focus, #ListHeader /deep/ .btn-index.focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25);
}

#ListHeader /deep/ .btn-index.disabled, #ListHeader /deep/ .btn-index:disabled {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
}

#ListHeader /deep/ .btn-index:not(:disabled):not(.disabled):active, #ListHeader /deep/ .btn-index:not(:disabled):not(.disabled).active,
#ListHeader /deep/ .show > .btn-index.dropdown-toggle {
  color: #fff;
  background-color: #42b983;
  border-color: #42b983;
}

#ListHeader /deep/ .btn-index:not(:disabled):not(.disabled):active:focus, #ListHeader /deep/ .btn-index:not(:disabled):not(.disabled).active:focus,
#ListHeader /deep/ .show > .btn-index.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25);
}

/*多选按钮*/
#ListHeader /deep/ .btn-outline-primary {
  color: #42b983 !important;
  border-color: #42b983 !important;
}

#ListHeader /deep/ .btn-outline-primary:focus {
  color: #fff !important;
  background-color: #42b983 !important;
  border-color: #42b983 !important;
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25) !important;
}

#ListHeader /deep/ .btn-outline-primary:hover {
  color: #42b983 !important;
  background-color: #fff !important;
  border-color: #42b983 !important;
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25) !important;
}

#ListHeader /deep/ .btn-outline-primary:not(:disabled):not(.disabled):active, #ListHeader /deep/ .btn-outline-primary:not(:disabled):not(.disabled).active,
#ListHeader /deep/ .show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #42b983 !important;
  border-color: #42b983 !important;
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25) !important;
}

#ListHeader /deep/ .btn-outline-primary:not(:disabled):not(.disabled):active:focus, #ListHeader /deep/ .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
#ListHeader /deep/ .show > .btn-outline-primary.dropdown-toggle:focus {
  color: #fff !important;
  background-color: #42b983 !important;
  border-color: #42b983 !important;
  box-shadow: 0 0 0 0.2rem rgba(66, 185, 131, 0.25) !important;
}
